In [60]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns

In [ ]:
# our data is splitted so we must merge it
train_df = pd.merge(pd.read_csv('X_train(1).csv'), pd.read_csv('y_train(1).csv'))
test_df = pd.read_csv('X_test(1).csv')
print(train_df.shape)
print(test_df.shape)

(678, 34)
(366, 33)
(366, 2)

In [62]:
# in every data csv, ids are not important and must be dropped
train_df.head()

,StudentID,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,1714,GP,F,18,U,GT3,T,4,3,other,...,4,3,3,1,1,3,0,14,13,14
1,1254,GP,F,17,U,GT3,T,4,3,health,...,4,4,3,1,3,4,0,13,15,15
2,1639,GP,F,16,R,GT3,T,4,4,health,...,2,4,4,2,3,4,6,10,11,11
3,1118,GP,M,16,U,GT3,T,4,4,services,...,5,3,3,1,3,5,0,15,13,13
4,1499,GP,M,19,U,GT3,T,3,2,services,...,4,5,4,1,1,4,0,5,0,0

In [63]:
# names of the school
print(train_df['school'].unique())

# Urab or Rural
print(train_df['address'].unique())

# Family Size
print(train_df['famsize'].unique())

# Parent Status
print(train_df['Pstatus'].unique())

['GP' 'MS']
['U' 'R']
['GT3' 'LE3']
['T' 'A']

In [64]:
train_df.isnull().sum()

StudentID     0
school        0
sex           0
age           0
address       0
famsize       0
Pstatus       0
Medu          0
Fedu          0
Mjob          0
Fjob          0
reason        0
guardian      0
traveltime    0
studytime     0
failures      0
schoolsup     0
famsup        0
paid          0
activities    0
nursery       0
higher        0
internet      0
romantic      0
famrel        0
freetime      0
goout         0
Dalc          0
Walc          0
health        0
absences      0
G1            0
G2            0
G3            0
dtype: int64

In [65]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 678 entries, 0 to 677
Data columns (total 34 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   StudentID   678 non-null    int64
 1   school      678 non-null    object
 2   sex         678 non-null    object
 3   age         678 non-null    int64
 4   address     678 non-null    object
 5   famsize     678 non-null    object
 6   Pstatus     678 non-null    object
 7   Medu        678 non-null    int64
 8   Fedu        678 non-null    int64
 9   Mjob        678 non-null    object
 10  Fjob        678 non-null    object
 11  reason      678 non-null    object
 12  guardian    678 non-null    object
 13  traveltime  678 non-null    int64
 14  studytime   678 non-null    int64
 15  failures    678 non-null    int64
 16  schoolsup   678 non-null    object
 17  famsup      678 non-null    object
 18  paid        678 non-null    object
 19  activities  678 non-null    object
 20  nursery     678 non-null    object
 21  higher      678 non-null    object
 22  internet    678 non-null    object
 23  romantic    678 non-null    object
 24  famrel      678 non-null    int64
 25  freetime    678 non-null    int64
 26  goout       678 non-null    int64
 27  Dalc        678 non-null    int64
 28  Walc        678 non-null    int64
 29  health      678 non-null    int64
 30  absences    678 non-null    int64
 31  G1          678 non-null    int64
 32  G2          678 non-null    int64
 33  G3          678 non-null    int64
dtypes: int64(17), object(17)
memory usage: 180.2+ KB

In [66]:
df = train_df.drop('StudentID', axis=1)

In [67]:
df.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,T,4,3,other,other,...,4,3,3,1,1,3,0,14,13,14
1,GP,F,17,U,GT3,T,4,3,health,other,...,4,4,3,1,3,4,0,13,15,15
2,GP,F,16,R,GT3,T,4,4,health,teacher,...,2,4,4,2,3,4,6,10,11,11
3,GP,M,16,U,GT3,T,4,4,services,services,...,5,3,3,1,3,5,0,15,13,13
4,GP,M,19,U,GT3,T,3,2,services,at_home,...,4,5,4,1,1,4,0,5,0,0

In [68]:
df = pd.get_dummies(df, drop_first=True, dtype=int)
df.head()

,age,Medu,Fedu,traveltime,studytime,failures,famrel,freetime,goout,Dalc,...,guardian_mother,guardian_other,schoolsup_yes,famsup_yes,paid_yes,activities_yes,nursery_yes,higher_yes,internet_yes,romantic_yes
0,18,4,3,1,4,0,4,3,3,1,...,0,0,0,1,1,0,1,1,1,0
1,17,4,3,1,3,0,4,4,3,1,...,1,0,0,1,1,1,1,1,1,1
2,16,4,4,1,2,0,2,4,4,2,...,1,0,0,1,0,1,1,1,0,0
3,16,4,4,1,3,0,5,3,3,1,...,1,0,0,1,0,1,1,1,1,0
4,19,3,2,1,1,3,4,5,4,1,...,1,0,0,1,0,0,1,0,1,1

In [70]:
# we have 18 different labels? nah. it's a regression problem and we must predict a number
df['G3'].nunique()

18

In [69]:
X = df.drop('G3', axis=1)   
y = df['G3']

In [71]:
# Train and Split

from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)

In [72]:
# we will use rf regressor

from sklearn.ensemble import RandomForestRegressor
from sklearn.preprocessing import StandardScaler
from sklearn.pipeline import Pipeline

model = Pipeline([
    ('scaler', StandardScaler()),
    ('rfr', RandomForestRegressor(random_state=42))
])

model.fit(X_train, y_train)

Pipeline(steps=[('scaler', StandardScaler()),
                ('rfr', RandomForestRegressor(random_state=42))])

In [73]:
y_pred = model.predict(X_test)
                       
from sklearn.metrics import r2_score
r2 = r2_score(y_test, y_pred)
print(r2)

0.8301593586129639

In [74]:
test_df.head()

,StudentID,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,...,romantic,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2
0,1000,GP,F,16,U,GT3,T,4,2,services,...,no,4,2,3,1,1,5,2,15,16
1,1008,GP,M,19,U,GT3,T,1,2,other,...,no,4,5,2,2,2,4,3,13,11
2,1013,GP,F,16,U,GT3,T,4,4,services,...,no,3,2,3,1,2,2,6,13,14
3,1014,GP,F,16,U,GT3,T,3,1,services,...,no,4,3,3,1,2,5,4,7,7
4,1017,GP,F,15,U,LE3,A,3,4,other,...,yes,5,3,2,1,1,1,0,10,11

In [ ]:
# dropping 'StudentID' column
test= test_df.drop('StudentID', axis=1)

In [ ]:
# converting features to numbers
test = pd.get_dummies(test, drop_first=True, dtype=int)
test.head()

,age,Medu,Fedu,traveltime,studytime,failures,famrel,freetime,goout,Dalc,...,guardian_mother,guardian_other,schoolsup_yes,famsup_yes,paid_yes,activities_yes,nursery_yes,higher_yes,internet_yes,romantic_yes
0,16,4,2,1,2,0,4,2,3,1,...,1,0,0,1,0,0,1,1,1,0
1,19,1,2,1,2,1,4,5,2,2,...,0,1,0,0,0,0,0,1,1,0
2,16,4,4,1,3,0,3,2,3,1,...,1,0,0,1,1,1,1,1,1,0
3,16,3,1,1,4,0,4,3,3,1,...,1,0,1,1,1,0,1,1,1,0
4,15,3,4,1,2,0,5,3,2,1,...,1,0,1,0,0,1,1,1,1,1

In [ ]:
# predicting test values
test_pred = model.predict(test)

In [ ]:
# fetch real values
y_test = pd.read_csv('y_test.csv')
y_test

     StudentID  G3
0         1000  16
1         1008  11
2         1013  14
3         1014   6
4         1017  11
..         ...  ..
361       2032  15
362       2034  11
363       2035  17
364       2036   8
365       2037  14

[366 rows x 2 columns]

In [ ]:
# creating a dataframe with these columns
scores = pd.DataFrame({'StudentID': test_df['StudentID'], 'G3_real': y_test['G3'], 'G3_preds': test_pred})
scores.head()

   StudentID  G3_real  G3_preds
0       1000       16     16.22
1       1008       11     11.21
2       1013       14     14.27
3       1014        6      6.88
4       1017       11     10.68

In [ ]:
# final r2_value
r2_2 = r2_score(y_test['G3'], test_pred)
r2_2

0.8219750424291618